@CHARSET "UTF-8";


	body {
			font-family: Arial; 
			font-size: 16px; 
		 }
	#menucategorias dl { 
				 	max-width: 200px; 
				 }
				 
	#menucategorias dl, #menu dd { 
								#background: #F3F0F0; 
								margin: 0; 
							}
	#menucategorias dt { 
					background: #F3F0F0; 
					font-size: 18px; 
					padding: 5px;  
				 }
				 
	#menucategorias dt a {
					 color: #6D6D6D; 
					 text-decoration: none;
					 #text-transform: uppercase 
				   }
				   	
	#menucategorias dd a {
					 #position: absolute;
					 text-decoration: none;
					 color: #000;
					 margin-left: 0;
				   }
					 
	#menucategorias ul { 
					#position: relative;
					list-style: none; 
					margin-left: 0;
					padding: 0; 
				 }
				 
	#vercarrinho { 
					#position: relative;
					list-style: none; 
					align: left;
					margin-left: 60%;
					#padding-right: 2px; 
				 }
	#rodape		{
					position: relative;
					margin-top: 20%;
					text-align: center;
					
				}
