<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" type="text/css"  href="../css/style.css" />

	<script type="text/javascript" src="../js/jquery.js"></script>
	<script type="text/javascript" src="../js/jquery.expander.js"></script>
	<script type="text/javascript" src="../js/jquery.dataTables.js"></script>
	 
	 <script type="text/javascript">
$(document).ready(function() {

  // simple example, using all default options
 // $('td.expandable').expander();
  
  // *** OR ***
  
  // override some default options
  $('td.expandable').expander({
    slicePoint:       80,  // default is 100
    expandText:         '[leia mais]', // default is 'read more...'
    collapseTimer:    0, // re-collapses after 5 seconds; default is 0, so no re-collapsing
    userCollapseText: '[colapsar texto]'  // default is '[collapse expanded text]'
  });
  
});
</script>

	 
	 
	 
  <script> 
	   $(document).ready(function() {
			$('#example').dataTable( {
				"aaSorting": [[ 1, "asc" ]],	
				"bJQueryUI": true,
				"sPaginationType": "full_numbers"
			} );
		} );
    </script> 
	
	<script>
	$(document).ready(function(){
		$("dd:not(:first)").hide();
		$("dt a").click(function(){
			$("dd:visible").slideUp("slow");
			$(this).parent().next().slideDown("slow");
			return false;
		});
	
	});
	</script>







<title>Livraria do Tux</title>
</head>
<body>

<div id="pagina">
		
		<div id="cabecalho">
					<div id="userinform">
					Login: %SESSIONLOGIN%  Perfil: %SESSIONPERFIL%  Bem Vindo: %SESSIONNOME% Logado Desde: %SESSIONDATALOGADO%
					</div>
			
			<div id="vercarrinho">
				
				Total de Itens = %CARRINHO_TOTAL_ITENS%  Valor Total = R$ %CARRINHO_VALOR_TOTAL% 
				<br/>
				<a href="verCarrinho.php"> Ver Carrinho </a>
			
			
			</div>
		
			<h1> Livraria do tux </h1>
		
		
		</div>

	<div id="pagina-body">
